<footer class="navbar-dark navbar-expand-lg fixed-bottom bg-success"> 
  
  <div class="container container-lg">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h3 class=" font-weight-light mb-1">Obrigado pela visita!</h3>
        <h6 class="mb-1 font-weight-light copyright" >
          &copy;
          <a target="_blank" href="Http://www.hibit.com.br" class="text-dark">Hi Bit - 2021</a>
        </h6>
      </div>
      <div class="col-lg-6 text-lg-right btn-wrapper ">
        <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-round btn-lg" tooltip="Github">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-round btn-lg" tooltip="Linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-round btn-lg" tooltip="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-round btn-lg" tooltip="Youtube">
          <i class="fab fa-youtube"></i>
        </a>
        <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-round btn-lg" tooltip="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-round btn-lg" tooltip="E-Mail">
          <i class="fas fa-envelope"></i>
        </a>
      </div>        
    </div>
  </div>
</footer>
