<nav class="navbar navbar-dark navbar-expand-lg bg-success fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img src="./assets/Imagem/Hibit.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Hi Bit
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



  </div>
</nav>